:root {
    --color-neutral: 200;
    --color-wrong: 0;
    --color-correct: 145;
}

body {
    --color:var(--color-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content:center;
    align-items: center;
    background-color: hsl(var(--color), 100%, 20%);
}

/* style change based on wrong or right */
body.correct {
    --color: var(--color-correct);
}

body.wrong {
    --color: var(--color-wrong);
}

/* making the main container stand out from the background */
.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

/* answer spacing/organization */
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

/* basic button styling */
.btn {
    --color: var(--color-neutral);
    border: 1px solid grey;
    background-color: purple;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

/* button change on hover */
.btn:hover {
    border-color: black;   
}

/* button color change with right or wrong answer */
.btn.correct {
    --color: var(--color-correct);
    text: black;
}

.btn.wrong {
    --color: var(--color-wrong);
}

/* ensure all buttons regardless of size inside of card are centered */
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* hiding the buttons */
.hide {
    display: none;
}

/* start button larger */
.start-btn {
    font-size: 4rem;
    font-weight: bold;
    padding: 10px 20px;
}